@import "tailwindcss";

@theme {
  --color-subdued: #b3b3b3;
  --color-positive: #1ed760;
  --color-is-active-fg-color: #1db954;
  --color-background-base: #121212;
  --color-essential-negative: #ed2c3f;
  --color-essential-subdued: #7c7c7c;
  --color-text-negative: #c91123;
}

body {
  background-color: black;
  margin: 0 auto;
  padding: 0px;
}

/* audio playback styles */
.hidden-visually {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
}

input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
}

.group:hover .progress-bar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-left: -6px;
  top: 50%;
  will-change: left;
  z-index: 100;
  align-items: center;
  background-color: white;
  border: 0px;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  transform: translateY(-50%);
  position: absolute;
}

.play-icon {
  fill: black;
  height: 16px;
  width: 16px;
}

.pause-icon {
  fill: black;
  height: 16px;
  width: 16px;
}

.icon-base {
  fill: #656565;
  height: 16px;
  width: 16px;
}

.icon-base:hover {
  fill: white;
  transition-duration: 50ms;
  scale: 104%;
}

.icon-base-large {
  fill: #656565;
}

.icon-base-large:hover {
  fill: white;
  transition-duration: 50ms;
  scale: 104%;
}

.icon-base_active {
  fill: #1ed760;
}

.icon-base_active_mark {
  background-color: #1ed760;
  border-radius: 50%;
  bottom: -8px;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0%;
  transform: translateX(-50%);
  width: 4px;
}

.progress-auth-bar-wrapper {
  block-size: 2px;
}

.progress-auth-bar {
  inline-size: 33.3333%;
  transition: 200ms;
  background-color: var(--color-positive);
  block-size: 2px;
}

.progress-auth-bar-second {
  inline-size: 66.6666%;
  transition: 200ms;
  background-color: var(--color-positive);
  block-size: 2px;
}

.progress-auth-bar-third {
  inline-size: 100%;
  transition: 200ms;
  background-color: var(--color-positive);
  block-size: 2px;
}

.previous-icon:hover {
  fill: white;
  transition-duration: 50ms;
  scale: 104%;
}

::-webkit-search-cancel-button {
  display: none;
}

.profile-picture {
  background-color: rgb(180, 155, 200);
  color: black;
  font-weight: 700;
  font-size: 14px;
}

.profile-picture-menu {
  transform: translate3d(-9.4px, 110px, 0px);
  box-shadow:
    0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);
}

.profile-picture-menu-list {
  box-shadow:
    0 16px 24px rgba(0, 0, 0, 0.3),
    0 6px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-height {
  height: calc(100vh - 160px);
}

.sidebar-control-closed {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.sidebar-control-open {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.create-media-button-open {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
  gap: 8px;
  justify-content: center;
  padding: 8px 16px;
  width: 80px;
  height: 20px;
  box-sizing: content-box;
  position: relative;
  left: 110px;
}

.create-media-button-closed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
  gap: 8px;
  padding: 8px;
  width: 19px;
  height: 19px;
  box-sizing: content-box;
}

.media-view-sidebar-open {
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  height: 100%;
  width: 64px;
}

